.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

*.tfvars
*.tfvars.json
!*.tfvars.example

.direnv/
.envrc.local

talosconfig
kubeconfig
.talos/
.kube/

result
result-*

*-age.key
*.age.key
key.txt
keys.txt

*secret.yaml
!*sealed-secret.yaml
