source_up

sops_export TF_VAR_seaweedfs_admin_access_key secrets/s3-01.yaml '["seaweedfs-admin-access-key"]'
sops_export TF_VAR_seaweedfs_admin_secret_key secrets/s3-01.yaml '["seaweedfs-admin-secret-key"]'
bao_jwt_export
